<a href="https://colab.research.google.com/github/icarovazquez/data-science-notebooks/blob/main/Downloading_a_dataset_from_kaggle_into_collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We are going to create a machine learning model that will predict who will win the English Premiership this year.
 Our data is the Kaggle dataset that has a list of all the Premiership league games every played.

To begin with we need to download the dataset from Kaggle. We do that by installing the kaggle library and downloading the dataset as shown below

In [8]:
! pip install -q kaggle  #install the kaggle library

In [9]:
! mkdir ~/.kaggle    #create a directory where the API Key is going to live

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [10]:
! cp kaggle.json ~/.kaggle/. #copy the API key to the directory

In [11]:
! chmod 600 ~/.kaggle/kaggle.json  #change the permissions of the API key file

Now we are ready to download a dataset

In [13]:
! kaggle datasets download irkaal/english-premier-league-results

Downloading english-premier-league-results.zip to /content
  0% 0.00/595k [00:00<?, ?B/s]
100% 595k/595k [00:00<00:00, 96.2MB/s]

and we need to unzip the file

In [14]:
!unzip english-premier-league-results.zip

Archive:  english-premier-league-results.zip
  inflating: results.csv
  inflating: results.feather
  inflating: results.parquet

let's check the dirextory where the file was downloaded

In [18]:
! ls -l /content/

total 2488
-rw-r--r-- 1 root root  608778 Apr 11  2022 english-premier-league-results.zip
-rw-r--r-- 1 root root      68 Aug 26 23:06 kaggle.json
-rw-r--r-- 1 root root 1082023 Apr 11  2022 results.csv
-rw-r--r-- 1 root root  690794 Apr 11  2022 results.feather
-rw-r--r-- 1 root root  148455 Apr 11  2022 results.parquet
drwxr-xr-x 1 root root    4096 Aug 24 21:25 sample_data

How do we know it worked? We can use pandas to explore the dataset a bit.

We will load the file into a pandas dataframe and will take a look at the first few rows of the dataset

In [15]:
import pandas as pd

In [34]:
my_dataset_file_path = "/content/results.csv"
my_df = pd.read_csv(my_dataset_file_path, encoding='latin-1')  #load the file into a panda dataframe

In [30]:
print("the shape of my dataframe is ", my_df.shape) #print the dataset size

the shape of my dataframe is  (11113, 23)

In [31]:
my_df.head()   #print the first few rows of the dataset

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Another way to work with a dataset is to download it to google drive and mount google drive so we can access it from the collab book.

We do this the following way:

In [35]:
from google.colab import drive;

In [36]:
drive.mount("/content/drive") #mount google drive

Mounted at /content/drive

In [43]:
!ls -la /content/drive/ #we list the drive just to make sure it was mounted

total 16
dr-x------ 2 root root 4096 Aug 27 00:29 .file-revisions-by-id
drwx------ 9 root root 4096 Aug 27 00:29 MyDrive
dr-x------ 2 root root 4096 Aug 27 00:29 .shortcut-targets-by-id
drwx------ 5 root root 4096 Aug 27 00:29 .Trash-0

In [57]:
drive_file_path = "/content/drive/MyDrive/ColabNotebooks/datasets/results.csv" #we define the file path for the dataset

In [60]:
my_dataframe = pd.read_csv(drive_file_path,encoding='latin-1') #load the dataset into a pandas dataframe

In [61]:
print("the shape of my dataframe is ", my_dataframe.shape) #print the dataframe's size

the shape of my dataframe is  (11113, 23)

In [62]:
my_dataframe.head() #print the few first rows of the dataset

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN